# Xcode
**/xcuserdata/
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.mode1v3
*.mode2v3
*.pbxuser
!default.pbxuser
*.moved-aside
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# WorkBuddy
.workbuddy/
AGENTS.md
SOUL.md
IDENTITY.md
USER.md
HEARTBEAT.md
TOOLS.md
.autoclaw-attachments/
.openclaw/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows (just in case)
Thumbs.db
ehthumbs.db
Desktop.ini
